Repository dword-design/sebastianlandwehr.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

.lintstagedrc.json:

{
  "*.vue": [
    "eslint --fix --config eslint.lint-staged.config.ts",
    "stylelint --fix"
  ],
  "*.{css,scss}": "stylelint --fix",
  "*.{json,ts}": "eslint --fix --config eslint.lint-staged.config.ts"
}

fix: fix navbar and remove body fix (#230)
  app/assets/style.scss
  app/components/app-navbar.vue
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

chore: 1.10.86 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  6f70091af0b0042f2799c1c59be390975673f2fc
Due: none

fix: try docker differences
  app/components/app-navbar.vue
  app/pages/index.spec.ts
  app/pages/index.vue
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

chore: foo
  app/pages/index.spec.ts-snapshots/init-1.png
Due: none

fix: foo
  app/app.vue
  app/layouts/default.vue
  app/pages/index.spec.ts-snapshots/init-1.png
  app/pages/index.vue
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

fix: foo
  app/pages/index.spec.ts
  app/pages/index.vue
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

chore: 1.10.87 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  9176c42a8921ce4631364bb9ab3d260b13145c90
Due: none

fix: updates and rolling deployment
  .baserc.json
  .github/workflows/build.yml
  .gitignore
  .releaserc.json
  .vscode/settings.json
  LICENSE.md
  app/assets/style.scss
  app/components/app-contact-form.vue
  app/components/app-libraries.vue
  app/components/app-navbar.vue
  app/components/app-projects.vue
  app/pages/blog/[slug].vue
  app/pages/blog/index.vue
  app/pages/index.vue
  app/pages/support-me.vue
  app/utils/donation-platforms.ts
  app/utils/individual-projects.ts
  app/utils/open-source-libraries.ts
  app/utils/websites-and-web-apps.ts
  config.ts
  ecosystem.json
  eslint.config.ts
  nuxt.config.ts
  package.json
  playbook.yml
  pnpm-lock.yaml
  requirements.yml
  server/routes/feed.get.ts
  shared/utils/variables.ts
  tsconfig.json
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

fix: foo
  .env.schema.json
  .github/workflows/build.yml
  .vscode/settings.json
  app/app.vue
  app/pages/blog/[slug].spec.ts-snapshots/init-1.png
  app/pages/blog/index.spec.ts-snapshots/init-1.png
  app/pages/index.spec.ts-snapshots/init-1.png
  app/pages/support-me.spec.ts-snapshots/init-1.png
  config.ts
  package.json
  server/routes/feed.get.ts
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

fix: fix date schema
  content.config.ts
Due: eslint --fix --config eslint.lint-staged.config.ts

fix: updates and rolling deployment (#237)
  .baserc.json
  .env.schema.json
  .github/workflows/build.yml
  .gitignore
  .releaserc.json
  .vscode/settings.json
  LICENSE.md
  app/app.vue
  app/assets/style.scss
  app/components/app-contact-form.vue
  app/components/app-libraries.vue
  app/components/app-navbar.vue
  app/components/app-projects.vue
  app/pages/blog/[slug].spec.ts-snapshots/init-1.png
  app/pages/blog/[slug].vue
  app/pages/blog/index.spec.ts-snapshots/init-1.png
  app/pages/blog/index.vue
  app/pages/index.spec.ts-snapshots/init-1.png
  app/pages/index.vue
  app/pages/support-me.spec.ts-snapshots/init-1.png
  app/pages/support-me.vue
  app/utils/donation-platforms.ts
  app/utils/individual-projects.ts
  app/utils/open-source-libraries.ts
  app/utils/websites-and-web-apps.ts
  config.ts
  content.config.ts
  ecosystem.json
  eslint.config.ts
  nuxt.config.ts
  package.json
  playbook.yml
  pnpm-lock.yaml
  requirements.yml
  server/routes/feed.get.ts
  shared/utils/variables.ts
  tsconfig.json
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

fix: update nuxt-mail
  package.json
  pnpm-lock.yaml
Due: eslint --fix --config eslint.lint-staged.config.ts

fix: foo
  pnpm-lock.yaml
Due: none

chore: 1.10.88 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  47197c3d67fa72f9fbd23e9219ba8c8af7b6db90
Due: none

chore: 1.10.89 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  e277d0d6b8c6c0353d6cb2fc4995f166e81131af
Due: none

chore: 1.10.90 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  9d34760081002f5d867785b3626ced980897f5b2
Due: none

chore: update config files
  AGENTS.md
Due: none

chore: 1.10.91 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  c62c9431be2fc1a4a9c069d185b862a899787186
Due: none

chore: 1.10.92 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  d8eff8583ff4432b6a6ae30e7d6e047eb4c26c97
Due: none

fix: ignore requirements.yml for renovate
  .renovaterc.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix --config eslint.lint-staged.config.ts

chore: 1.10.93 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  b0920a5ebecfa79df5e09b12d0c4406c3021f9e6
Due: none

chore: 1.10.94 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  9011ca276a692884585eb80f532b549959a029f9
Due: none

chore: 1.10.95 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  2daf6899f3ab028104af8681c10ab5e6d7fd7d75
Due: none

chore: 1.10.96 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  8351b811503ad207baed5120a15adee7fe8fd4a1
Due: none

chore: 1.10.97 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  cccedab57bb2d1c9172ae2ebc16a4a16d0a47be4
Due: none

chore: 1.10.98 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  8af50a6eb871adcc320c043e9e61c073dcdeb9c6
Due: none
