Repository dword-design/sebastianlandwehr.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

.lintstagedrc.json:

{
  "*.vue": [
    "eslint --fix --config eslint.lint-staged.config.ts",
    "stylelint --fix"
  ],
  "*.{css,scss}": "stylelint --fix",
  "*.{json,ts}": "eslint --fix --config eslint.lint-staged.config.ts"
}

chore: 1.10.99 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  8f9e6f1fe9795bf3507b6517a0987a5794b93a30
Due: none

chore: 1.10.100 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  19d3a7ecf73a9f24bdf80844165a07cb126b2f2a
Due: none

chore: 1.10.101 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  116977980285fad469f7d8da5672de1b946db372
Due: none

chore: 1.10.102 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  0ff4ab571af221085553991c188f5820fec9b2e2
Due: none

fix: fix prod downtime
  .github/workflows/build.yml
  .vscode/settings.json
  ecosystem.json
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  prod-entry.mjs
Due: eslint --fix --config eslint.lint-staged.config.ts

chore: 1.10.103 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  34320897e96e7345a1577769c5a7a0c8a889a8b8
Due: none

fix: test deployment
  app/components/app-footer.vue
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

fix: revert last change
  app/components/app-footer.vue
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

chore: 1.10.104 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  c60cdbf291a63ff3ff2b5f56cce58e36167d7691
Due: none

fix: fix zero downtime deployment
  .gitignore
  ecosystem.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix --config eslint.lint-staged.config.ts

fix: update config files
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

chore: 1.10.105 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  e34fdf77d0ba8ec3f415bbfb855eb8c57ad36818
Due: none

chore: 1.10.106 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  b51ccfda871c3107f2b5cc9d83c72d70033b7210
Due: none

chore: 1.10.107 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  da60820cadc4395e38197907d2c44f7691a5da84
Due: none

chore: 1.10.108 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  2963aa39afa135b941edbcac1b04fe8a3a3a2b61
Due: none

chore: 1.10.109 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  e65a0e6af39f6e510b83eb855e4195fcd3226249
Due: none

chore: 1.10.110 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  863f920613b44feeb26db990e42a223d462a8a38
Due: none

chore: 1.10.111 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  be9acc8a1e1199a5fd327c8b1d3f729dd135ad06
Due: none

chore: 1.10.112 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  83410860f66344b708590f84e75f0a0bb86c2da3
Due: none
