Repository dword-design/sebastianlandwehr.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

fix: foo
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

fix: foo
  pages/blog/index.vue
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

fix: foo
  components/app-privacy-policy-brevo.vue
  config.ts
  pages/blog/[slug].vue
  pages/privacy-policy.vue
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

fix: foo
  package.json
  pnpm-lock.yaml
Due: eslint --fix --config eslint.lint-staged.config.ts

chore: 1.10.75 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  60/e485f97024b714e3767c49799330890b391fac
Due: none

chore: 1.10.76 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  74/b202ec1087209ad9353f5010c03c8b323002a2
Due: none

chore: 1.10.77 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  cb/d2a7bcf614404e6f19ecbade47379d784d901d
Due: none

chore: 1.10.78 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  5a/7e73086bd5c06d412c855b4b9b487caae93945
Due: none

chore: 1.10.79 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  22/32601744b624d0cdacd073441129e987f4fd07
Due: none

chore: 1.10.80 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  b4/22566fcb6aa7af0a4e47a0cf1b2046f2df6e32
Due: none

chore: 1.10.81 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  ae/05786f3e2668d75fb59e508642ab4c0a8933da
Due: none

chore: 1.10.82 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  fc/3aa82cca28bb20d486f493ca4cb0043f115485
Due: none

fix: archived my-npm-stats
  assets/style.scss
  components/app-projects.vue
  model/websites-and-web-apps.ts
  shared/types/project.ts
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

fix: foo
  model/individual-projects.ts
  model/open-source-libraries.ts
  model/websites-and-web-apps.ts
Due: eslint --fix --config eslint.lint-staged.config.ts

chore: foo
  pages/index.spec.ts-snapshots/init-1.png
Due: none

chore: 1.10.83 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  5a/019cc52588528650c8eb33b7774960ac165136
Due: none

fix: archive GitHub Saved Filters
  model/websites-and-web-apps.ts
  pages/index.spec.ts-snapshots/init-1.png
Due: eslint --fix --config eslint.lint-staged.config.ts

chore: 1.10.84 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  93/feace9c24ed8092159b0601025e168d1b88255
Due: none

fix: upgrades
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .gitignore
  .gitpod.Dockerfile
  .vscode/settings.json
  config.ts
  eslint.lint-staged.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix --config eslint.lint-staged.config.ts

fix: foo
  .baserc.json
  app/assets/style.scss
  app/components/app-libraries.vue
  app/components/app-navbar.vue
  app/pages/blog/[slug].vue
  app/pages/blog/index.vue
  config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

fix: foo
  app/assets/style.scss
Due: stylelint --fix

fix: foo
  app/pages/blog/[slug].spec.ts-snapshots/init-1.png
  app/pages/blog/index.spec.ts-snapshots/init-1.png
  app/pages/index.spec.ts-snapshots/init-1.png
  app/pages/support-me.spec.ts-snapshots/init-1.png
  pnpm-lock.yaml
Due: none

chore: 1.10.85 [skip ci]
  CHANGELOG.md
  package.json
Due: eslint --fix --config eslint.lint-staged.config.ts

Notes added by 'git notes add'
  68a2cdd4410e0c8628faeb8b80c61feee60384e2
Due: none

fix: fix navbar and remove body fix
  app/assets/style.scss
  app/components/app-navbar.vue
Due: eslint --fix --config eslint.lint-staged.config.ts, stylelint --fix

Path conditions:
  eslint --fix --config eslint.lint-staged.config.ts: (any of: *.vue) or (any of: *.{json,ts})
  stylelint --fix: (any of: *.vue) or (any of: *.{css,scss})
